
#search-box{
  width: 80%;
  border: none;
  outline: none;
}
ul{
  color: black;
  width: 25%;
  margin: auto;
  cursor: pointer;
  border-radius: 0;
}

li:hover{
  color: #eeeeee;
  background-color: #607D8B;
}
button{
  margin: 0;
  border: none;
  color: black;
  background: none;
  outline: none;
  font-size: 20px;
}
form{
  background-color: white;
  width: 25%;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 8px 0 8px 2px;
  font-size: 20px;
  color: black;
  text-align: center;
  display: inline-block;

}
